@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --texto-general:'poppins';
    --bg-color: #001F21;
    --primary-color: #029B99;
    --secondary-color: #DE4F15;
    --yellow-color: #ECC039;
}

p{
    color: #ffff;
    margin: 0px;
}

a{
	text-decoration: none !important;
}


body{
    overscroll-behavior-y: auto;
}

.bgSplash{
    background-color: var(--bg-color);
    padding: 420px 115px;
    
}
.signUp{
    background-color: #001F21;
    background-image: url("img/bgSignUp.svg");
    background-size: cover;     
    background-position:top; 
    background-repeat: no-repeat;
}

.h1SignUp{
    color: #ECC039;
}
.form-label{
    color: #ffff;
}
.form-control{
    border: #029B99;
}

.linkLogin{
    color: #029B99;
}

.btnSignUp{
    background-color: #ECC039;
    color: #001F21;
    border: none;
    font-weight: 400;
    padding: 6px 30%;
}

.containerbtnSign{
    margin-top: 100px;
}
.containerSign{
    margin: 5px 12px;
    margin-top: 150px;
}



/*Estilo del chatroom*/

/*Barra superior*/
.navSup{
    background-color: #001F21;
    padding: 12px;
	padding-top: 20px;
	align-items: center;
}
.arrowback{
    color: #DE4F15;
	align-items: center;
	padding-top: 10px;
	font-size: 20px;
}
.nameUser{
    color: #ffff;
	padding-top: 5px;
}
.userImg{
	height: 35px;
	padding-left: 15px;
}
.chatBackG{
    background-image: url("img/chatBG.png");
    background-size: auto;  
    background-position:top; 
    background-repeat: no-repeat;
}

#chat{
	margin: 8px;
	margin-bottom: 15px;	
}

.input{
	margin: 10px 10px;
	padding: 10px 10px;
	font-size: 16px;
	border-radius: 5px;
	/*border-color: ;*/
}
input:focus{
	outline: none;
	color: #ffff;
	caret-color: var(--yellow-color);
}

/*Donde esta el icono del usuario, el input y el boton de enviar.*/
.barra{
    padding: 2px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	background-color: var(--bg-color);
	border-radius: 10px;
}
#talk{
	width: 65%;
	height: 4vh;
	font-size: 14px;
	border-width: 0;
	padding: 5px;
    background-color: var(--bg-color);
}

/*El espacio donde aparecen los mensajes de texto.*/
.chatSpace{
	height: 700px;
	margin: 3px;
	overflow-x: hidden;
	overflow-y: auto; /*Todo el contenido va a estar dentro del tama침o de este espacio.*/
	text-align: right; /*Porque solamente se va a ver los mensajes que enviamos.*/
}
.profileItems{
	padding-right: 1vw;
}

/*Para alinear las columnas.*/
#chatText{
	display: grid;
	justify-items: end;
}
#chatText div{
	margin-top: 1vh;
}
#chatText div .said{
	background-color: var(--secondary-color);
	border-radius: 8px;
	margin-left: 1vw;
	padding: 8px 10px;
	max-width: 79%; /*Ancho maximo de la caja de texto, puede variar dependiendo del tama침o de la pantalla del celular*/
	color: #ffff;
}

/*iconos*/
.fa{
	font-size: 140%;
}
.fa-camera{
	color: var(--secondary-color);
	padding: 0px 5px;
}
.fa-microphone{
	color: var(--yellow-color);
	padding: 0px 8px;
}

.send{
	font-size: 140%; /* Para que sea "responsive", pero puede ser un num. fijo. */
	padding: 0px 2px; /*Mayor area para tocar el icono*/
	color: var(--primary-color);
}
.send:active{
	color: rgb(163, 93, 27);
}

/*Los tama침os de los elementos nuevos y las delimitaciones.*/
.newItem{
	margin-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#userName{
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: grey;
	margin-top: 0;
	margin-bottom: 2px;
}


/*chatList*/
.boxContainer{
	margin: 8px;
}
.chatBox{
	padding: 8px 10px;
	border-bottom: 2px solid var(--primary-color);
	margin-bottom: 6px;
}
.chatUserImg{
	padding-top: 8x;
}
.chatTextList{
	padding: 6px 4px;
}
.userName{
	
	margin: 0px;
	font-size: 18px;
	font-weight: 700;
	color: #001F21;
}
.message{
	color: #444444;
	margin: 0px;
	font-size: 14px;
}
.timeText{
	color: #444444;
	text-align: end;
	font-size: 12px;
	font-weight: 600;
}

/*Barra de Busqueda ChatList*/
#searchBox .input-group {
    background-color: transparent;
    border-radius: 50px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
}
#searchBox .input-group-text {
    background-color: var(--bg-color);
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 0 16px;
}
#searchBox .input-group-text i {
    color: #2dd4c4; /* light teal icon */
    font-size: 16px;
}
#userSearch {
    border: 2px solid #0a3f46;
    border-left: none;
    border-radius: 0 50px 50px 0;
    padding: 10px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--primary-color);
}
#userSearch::placeholder {
    color: var(--primary-color)
}
#userSearch:focus {
    box-shadow: none;
    outline: none;
}

/*menu*/
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 380px;
    background: #062225;
    padding: 15px 5px;
    display: flex;
    justify-content: space-around;
    z-index: 999;
}
.nav-item .icon {
    width: 32px;
    height: 32px;
}

.nav-item .profile {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}



/*pull refresh*/
.pull-to-refresh {
  position:relative;
  top: -60px;
  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
}
.pull-to-refresh.seen {
  top: 0 !important; /* Alteracion de posicion */
  height: 6vh !important; /* Altura de espacio cuando aparece Spinner */
  transition: height 0.5s ease-in-out; /* Animacion de transicion de la altura modificada */
}


/*pantalla publicaci칩n*/
.publicBG{
	background-color: var(--bg-color);
}
.storyText{
	padding-top: 6px;
	padding-right: 25px;
}
.userPublic{
	margin: 15px;
}
.btnCrear{
	margin: 10px 5px;
}
.userPublicImg{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #ffce54;
}
.userPublicText{
	text-align: start;
	padding-top: 18px;
	font-weight: 500;
	font-size: 18px;
}
.plusIcon{
	padding-left: 10px;
	padding-top: 20px;
}
.arrowR-Icon{
	padding-top: 20px;
	padding-left: 10px;

}
.btnCrearText{
	text-align: start;
	padding-top: 18px;
}
.publicStory{
	margin: 2px 15px;
}
.comicCover{
	border-radius: 4px;
	height: 155px;
	
}
.textContainer-Public{
    text-align: start;
}



/*Pantalla de Publicar*/
.uploadBG{
	background-color: var(--bg-color);
}
.imagenPortada{
	border-radius: 4px;
	height: 250px;
	align-items: center;
	margin: 30px 10px;
}
.labelText {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}


#episodeInput{
    background-color: #0bb3ad;
    border: none;
    color: white;
    font-weight: 500;
    padding: 15px 20px;
}
#episodeInput::placeholder {
    color: #e0ffff;
}
.uploadBox {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--primary-color);
}
.fileItem {
    background-color: var(--bg-color);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    color: white;
}
.fileInfo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.deleteIcon {
    color: #ff5722;
    cursor: pointer;
}
.addMoreFiles {
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
.addMoreFiles i {
    font-size: 18px;
    margin-right: 5px;
}
.btnUpload {
    width: 100%;
    background-color: #ff6a00;
    border: none;
    color: white;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 22px;
}
.btnUpload a{
    color: #e0ffff;
}
.plusIconUpload{
    margin-right: 8px;
}

.cover-container {
    position: relative;
    display: inline-block;
}
.imagenPortada {
    width: 260px;
    border-radius: 12px;
}
.pencilEdit {
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

/*Editar Publicacion*/
.episodeTitle{
    margin: 0px;
    font-weight: bold;
}
.dateText{
 margin: 0px;
}
.tooniesText{
 color: var(--yellow-color);
 margin: 0px;
}
.iconTrash{
    height: 25px;
    margin-left: 10px;
    margin-top: 20px;
  
}
.editEpList{
    margin: 20px 8px;
}
.btnEdit{
    text-align: center;
    border: 2px solid #029B99;
    padding: 2px 12px;
    border-radius: 8px;
}
.btnEdit a{
    color: #ffff;
}
.btnEdit:hover {
   background-color: var(--primary-color);
}

.bannerBG{
    background-color: #ffffff;
    color: #001F21;
    padding: 25px 10px;
}
.bannerBG p{
    color: #001F21;
    text-align: start;
    
}
.coverBanner{
    height: 220px;
    margin-top: 22px;
}
.bannerTitle{
  font-weight: bold;
  font-size: 22px;
}
.editMode{
    border: 2px solid #029B99;
    border-radius: 20px;
    margin-top: 0px;
    padding:  2px;
    margin-right: 60%;
    margin-bottom: 16px;
}
.editMode p{
    margin: 0px;
    text-align: center;
    color: var(--primary-color);
}
.textDesp{
    font-weight: bold;
    margin-bottom: 10px;;
}
.btnUploadEpisode{
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}
.btnUploadEpisode:hover {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}
.plusIconEdit{
    margin-top: 15px;
    margin-left: 50px;
    height: 30px;
}
.btnUploadText{
   margin: 15px 0px;
   font-weight: bold;
   font-size: 18px; 
}
.containerUpload{
    margin: 8%;
}

/*Create Publication*/

.labelsSection {
    margin-top: 25px;
}

.labelsTitle {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}

/* Contenedor de etiquetas */
.labelsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Estilo base de cada label */
.label {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    border: 1.5px solid;
    background: transparent;
}

/* Colores individuales */
.fantasy {
    color: #00c2b3;
    border-color: #00c2b3;
    margin: 0%;
}
.shonen {
    color:  #ffd43b;
    border-color: #ffd43b;
}
.romance {
    color: #ff6b6b;
    border-color: #ff6b6b;
}
.drama {
    color: #00c2b3;
    border-color: #00c2b3;
}
.terror {
    color: #ffd43b;
    border-color: #ffd43b;
}
.webtoon {
    color: #ff6b6b;
    border-color: #ff6b6b;
}
.comic {
    color: #00c2b3;
    border-color: #00c2b3;
}
.manga {
    color: #ffd43b;
    border-color: #ffd43b;
}
.horror {
    color: #ff6b6b;
    border-color: #ff6b6b;
}

.label.active {
    background-color: currentColor;
    
}
.label.active p{
    color: #ffffff;

}
.textLabel p{
   
    margin-bottom: 0px;
}

