@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --texto-general:'poppins';
    --bg-color: #001F21;
    --primary-color: #029B99;
    --secondary-color: #DE4F15;
    --yellow-color: #ECC039;
}

.bgSplash{
    background-color: var(--bg-color);
    padding: 420px 115px;
    
}


.signUp{
    background-color: #001F21;
    background-image: url("../toonie/img/bgSignUp.svg");
    background-size: cover;     
    background-position:top; 
    background-repeat: no-repeat;
}

.h1SignUp{
    color: #ECC039;
}

p{
    color: #ffff;
}


.form-label{
    color: #ffff;
}
.form-control{
    border: #029B99;
}

.linkLogin{
    color: #029B99;
}

.btnSignUp{
    background-color: #ECC039;
    color: #001F21;
    border: none;
    font-weight: 400;
    padding: 6px 30%;
}

.containerbtnSign{
    margin-top: 100px;
}